
{% extends 'base.html' %}
{% block title %}Cardápio{% endblock %}
{% block content %}
<h2 class="pb-2 border-bottom">Cardápio</h2>
<p>Selecione a pizza desejada, você pode escolher diferentes sabores.</p>

<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
	{% for tam  in tamanho %}
	<div class="col">
		<a href="" class="link-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#sabores_{{tam.id}}">
		<div class="card border-0" style="height: 250px; background-size: cover; 
			background-image: url('https://th.bing.com/th/id/OIP.VCQQ1ZvdoxmewQHMn1s5vgHaE7?rs=1&pid=ImgDetMain');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
				<ul class="d-flex list-unstyled mt-auto text-dark">
					<li class="d-flex align-items-center me-3"> 

					</li>
					<li class="d-flex align-items-center">
						<svg class="bi me-2" width="1em" height="1em">
							<use xlink:href="#calendar3"></use>
						</svg>
					</li>
				</ul>
                <h2>{{tam.tipo}}</h2>
                <h6>{{tam.quantidade_fatias}} Fatias</h6>
			</div>
		</div>
		</a>
	</div>
    
    {% include "sabores.html" %}

	{% endfor %}
</div> 
{% endblock %}