<!-- Modal -->
<div class="modal fade" id="sabores_{{tam.id}}"  data-modalid="{{tam.id}}" tabindex="-1" aria-labelledby="sabores_lLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="sabores_Label"></h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div> 
		
      <div>
        <img class="img-fluid" width="180" src="https://th.bing.com/th/id/OIP.VCQQ1ZvdoxmewQHMn1s5vgHaE7?rs=1&pid=ImgDetMain" alt="">
        <h3>Monte sua pizza {{tam.tipo}}</h3>
        <p>Que loucura! Você pode escolher {{tam.quantidade_fatias}} fatias de diferentes sabroes para compor sua pizza customizada!</p>  
      </div>

      <div class="d-flex justify-content-end align-items-center p-3">
        <span class="fs-4 fw-bold"> <span id="#resultselsabor{{tam.id}}">0</span> / {{tam.quantidade_fatias}} 
        <span class="badge bg-secondary" id="impResponse{{tam.id}}">Máximo</span></span>
      </div> 

    <div class="modal-body count-result"> 

      {% for t in tipo_sabor %}
      <div class="d-flex justify-content-between bg-light border-3 p-3"> 
      <span class="fs-4 fw-bold">Sabores {{t.tipo}}</span>
    </div> 
      {% for s in t.tipo_sabor.all %} 
      <div class="d-flex align-items-center p-3 border"> 
      <div class="p-2 flex-grow-1 text-start">
        <img src="https://th.bing.com/th/id/OIP.VCQQ1ZvdoxmewQHMn1s5vgHaE7?rs=1&pid=ImgDetMain" class="" width="80" alt="..."> 
        <span class="fw-bold">{{s.nome}}</span> 
      </div>
      <div class="qty">
        <span class="minus bg-dark">-</span>
        <input type="hidden" class="selsabor" id="selsabor_{{tam.id}}" data-modalid="{{tam.id}}" data-capmax="{{tam.quantidade_fatias}}">
        <input type="number" class="count_{{tam.id}}" data-saborid="{{s.id}}" name="qty" value="0">					
        <span class="plus bg-dark">+</span>
      </div> 
    </div>
    
    {% endfor %}
    {% endfor %}

    <!-- Acompanhamento -->
    <div class="d-flex justify-content-between bg-light border-3 p-3"> 
        <span class="fs-4 fw-bold">Acompanhamento</span>
    </div> 
    
    {% for a in acompanhamento %} 
    <div class="d-flex align-items-center p-3 border"> 
        <div class="p-2 flex-grow-1 text-start">
            <img src="https://loja.colherdeacucar.com.br/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fassets-colherdeacucar%2Frefri%2520lata.jpg&w=640&q=75" class="" width="80" alt="..."> 
            <span class="fw-bold">{{a.nome}}</span> 
        </div>
        <div class="qty" >
            <span class="minus bg-dark">-</span>
            <input type="number" class="selacompanhamento_{{tam.id}}" data-acompanhamentoid="{{a.id}}" 
                id="selacompanhamento_{{tam.id}}" name="selacompanhamento_{{tam.id}}" value="0" disabled>					
            <span class="plus bg-dark">+</span>
        </div>
    </div>
    {% endfor %}  

 		</div>  
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary btn-lg">Adicionar</button> 
		</div>
	  </div>
	</div>
  
  </div>